{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{customer.fullname}}
{% endblock %}
{% block content %}
<div class="content">
    <div class="header d-flex item-center bg-white width-100 border-bottom ">
        <div class="header__right d-flex flex-grow-1 item-center">
            <span class="bars"></span>
                <img style="margin-right: 5px;" width="100" height="45" src="{% static 'img/logo3.png' %}"/>
                /
                        <a style="text-decoration: none;" href="{% url 'home:index' %}" title="پیشخوان">پیشخوان</a>/
                        <a style="text-decoration: none;" href="{% url 'customer:list_customer' %}" title="پیشخوان">لیست مشتریان  </a>/
                        <a style="text-decoration: none;" href="{% url 'customer:detail_customer' customer.id %}" title="پیشخوان">{{customer.fullname}}</a>
        </div>
        <div class="header__left d-flex flex-end item-center margin-top-2">
            <div class="notification" style="margin-left: 8px;">
                <div class="dropdown__notification">
                    <div class="content__notification">
                        <span class="font-size-13">موردی برای نمایش وجود ندارد</span>
                    </div>
                </div>
            </div>
            <a
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#logout"
            data-bs-whatever="@mdo">
                <img width="35" height="35" src="{% static 'img/logout2.png' %}"/>
        </a>
        </div>
    </div>

    <div class="main-content" style="background-color: #dcdcdc;">
        <div class="user-info bg-white padding-30 font-size-13">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col-lg-6" style="font-size: 15px;">
                        ویرایش مشتری : <span style="color: #2B4A83;">{{customer.fullname}}</span>
                    </div>
                    
                
                    <div class="col-lg-6 d-flex justify-content-end align-items-end gap-2">
                        <a
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#pay_price"
                        data-bs-whatever="@mdo"
                        class="btn btn-sm btn-outline-success">
                            پرداخت حساب  

                        </a>
                        <a
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#list_pay_price"
                        data-bs-whatever="@mdo"
                        class="btn btn-sm btn-primary">
                            لیست پرداخت شده ها  

                        </a>
                        <a
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_product"
                        data-bs-whatever="@mdo"
                        class="btn btn-sm btn-outline-danger">
                            حذف مشتری 

                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="number" hidden name="id" class="text" placeholder="نام کاربری" value="{{customer.id}}">

                        <label>نام و نام خانوادگی  : </label>
                        <input type="text" name="fullname" class="text" placeholder="نام کاربری" value="{{customer.fullname}}">

                    </div>
                    <div class="col-lg-6">

                        <label>شماره تماس  : </label>
                        <input type="text" name="phone" class="text" placeholder="شماره تماس" value="{{customer.phone}}">

                    </div>
                    <div class="col-lg-6">             
                        <label>کل حساب  (تومان) :  </label>
                        
                        <input disabled type="text" name="price" class="text text-left"  value="{{customer.price|intcomma:0}} تومان ">
                    </div>
                   
                    <div class="col-lg-6">
                        <label>پرداخت شده    (تومان) :  </label>

                        <input class="text text-left" type="text" name="price_paid_all" disabled value="{{customer.price_paid_all|intcomma:0}} تومان">


                    </div>
                    <div class="col-lg-6">
                        <label>باقی مانده حساب    (تومان) :  </label>
                        <input class="text text-left" type="text" name="sod" disabled value="{{customer.price_mandeh|intcomma:0}} تومان">


                    </div>
                    
                    <div class="col-lg-12">
                        <label>
                            عکس مشتری:
                        </label>
                        <input class="text text-left form-control" type="file" placeholder="عکس مشتری " name="image">

                    </div>
                </div>
                
               
                <br>
                <label>
                    توضیحات :
                </label>
                <input  name="discription" class="text" value="{{customer.discription}}"  />
                <br>
                <br>
                <button class="btn btn-netcopy_net">ذخیره تغییرات</button>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="delete_product">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modal-login">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px;">فرم تاییده حذف مشتری  از فروشگاه </h5>
            <button
            type="button"
            style="background-color: red;margin: 0 auto;"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            <p style="padding: 20px 10px;">
                آیا مایل به حذف این مشتری   هستید ؟
            </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  بازگشت 
                </button>
                <a href="{% url 'customer:delete_customer' customer.id %}"  class="btn btn-danger">حذف مشتری   </a>
              </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="pay_price">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modal-login">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px;">فرم پرداخت حساب   مشتری  به فروشگاه </h5>
            <button
            type="button"
            style="background-color: red;margin: 0 auto;"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
           <form method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{customer.id}}"  class="form-control" id="recipient-name" style="display: none;"/>

            <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  > باقی مانده حساب  :</label
                >
                <input class="text " type="text" name="sod" disabled value="{{customer.price_mandeh|intcomma:0}} تومان">

              </div>


              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  > مبلغ پرداختی  :</label
                >
                <input type="text" name="pay_price" value="0"  class="form-control" id="recipient-name" />
              </div>
              <div class="d-flex justify-content-end align-items-end">
                <button type="submit" class="btn btn-outline-success mt-2">
                    پرداخت 
    
                  </button>
              </div>

           </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="list_pay_price">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" id="modal-login">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px">
      لیست پرداختی های  {{payments.customer.fullname}} برای فروشگاه {{request.user.name_shop}}
          </h5>
          <button
            type="button"
            style="background-color: red; margin: 0 auto"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            
           {% if payments %}
            <table
              class="table table-hover table-primary  table-responsive-xxl table-responsive-xl table-responsive-sm"
            >
              <thead>
                <tr>
                    <th>شناسه</th>
                    <th>نام و نام خانوادگی </th>
                    <th>شماره تماس</th>
                    <th> مبلغ پرداخت شده  </th>
                    <th>تاریخ ایجاد  </th>
                </tr>
              </thead>
  
              <tbody>
                {% for payment in payments %}
                <tr >
                    <td><a>{{customer.id}}</a></td>
                    <td><a style="color: black;text-decoration: none;">{{customer.fullname}}</a></td>
                    <td><a  style="color: black;text-decoration: none;">{{customer.phone}}</a></td>
                    <td><a  style="color: black;text-decoration: none;"> {{payment.price_paid|intcomma:0}} تومان </a></td>
      
                    
                    <td><a >{{payment.created_data}} </a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
  
            <div class="bg-danger p-5" style="border-radius: 20px">
              <h3 class="text-center">
                هیچ پرداختی   نداشته است 
              </h3>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

{% endblock %}