{% extends 'base.html' %}
{% load static %}
{% block title %}
حسابداری پویا 
{% endblock %}

{% block content %}

<div style="height: 600px;" class="d-flex justify-content-center align-items-center">
  <button
  class="btn btn-outline-success"
type="button"
data-bs-toggle="modal"
data-bs-target="#login-form"
data-bs-whatever="@mdo">
ورود به حساب 
</button>
</div>
<div class="modal fade" id="login-form">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-login">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px;">فرم ورود مدیر  به فروشگاه </h5>
          <button
          type="button"
          style="background-color: red;margin: 0 auto;"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'accounts:login' %}" >
          {% csrf_token %}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >شماره تماس :</label
            >
            <input type="text" name="username" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">رمز عبور :</label>
            <input type="password" name="password" class="form-control" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              بازگشت 
            </button>
            <button type="submit" class="btn btn-primary">ورود </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}