{% extends 'base.html' %}

{% load static %}
 {% block title %}
دشبورد من 
 {% endblock %}

{% block content %}
<div class="content">
    <div class="header d-flex item-center bg-white width-100 border-bottom ">
        <div class="header__right d-flex flex-grow-1 item-center">
            <span class="bars"></span>
                <img style="margin-right: 5px;" width="100" height="45" src="{% static 'img/logo3.png' %}"/>
                /
                        <a style="text-decoration: none;" href="{% url 'home:index' %}" title="پیشخوان">پیشخوان</a>
        </div>
        <div class="header__left d-flex flex-end item-center margin-top-2">
            <div class="notification" style="margin-left: 8px;">
                <div class="dropdown__notification">
                    <div class="content__notification">
                        <span class="font-size-13">موردی برای نمایش وجود ندارد</span>
                    </div>
                </div>
            </div>
            <a
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#logout"
            data-bs-whatever="@mdo">
                <img width="35" height="35" src="{% static 'img/logout2.png' %}"/>
        </a>
        </div>
    </div>
    <div class="main-content" style="background-color: #dcdcdc;">
        <div class="row no-gutters font-size-13 margin-bottom-10" style="display: flex;justify-content: space-around;">
            <div class="col-lg-5 padding-20 border-radius-3 bg-blue margin-bottom-10">
                <p> گزارش محصولات </p>
                <canvas id="chart_products" width="500" height="500"></canvas>
            
            </div>
            <div class="col-lg-5 padding-20 border-radius-3 bg-blue  margin-bottom-10">
                <p> گزارش مشتریان  </p>
                <canvas id="chart_customers" width="500" height="300"></canvas>
                        </div>
           
        </div>
       
        <div class="row no-gutters font-size-13 margin-bottom-10" style="display: flex;justify-content: space-around;">
            <div class="col-lg-8 padding-20 bg-blue margin-bottom-10 margin-left-10 border-radius-3">
                سود شما در کل سال :

                <canvas id="chart_sell" width="500" height="150"></canvas>

            </div>
            <div class="col-lg-3 info-amount padding-20 bg-white margin-bottom-12-p margin-bottom-10 border-radius-3">

                <p class="title icon-outline-receipt">فروش شما تا به الان : </p>
                <p class="amount-show color-444">600,000<span> تومان </span></p>
                <p class="title icon-sync">خرید شما تا به الان : </p>
                <p class="amount-show color-444">0<span> تومان </span></p>
                <a href="/" class=" all-reconcile-text color-2b4a83" style="margin-top: 70px;">همه تراکنش های شما </a>
            </div>
        </div>
        <div class="row bg-white no-gutters font-size-13">
            <div class="title__row">
                <p>تراکنش های اخیر شما</p>
                <a class="all-reconcile-text margin-left-20 color-2b4a83">نمایش همه تراکنش ها</a>
            </div>
            <div class="table__box">
                <table width="100%" class="table">
                    <thead role="rowgroup">
                    <tr role="row" class="title-row">
                        <th>شناسه پرداخت</th>
                        <th>ایمیل پرداخت کننده</th>
                        <th>مبلغ (تومان)</th>
                        <th>درامد شما</th>
                        <th>درامد سایت</th>
                        <th>نام دوره</th>
                        <th>تاریخ و ساعت</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row">
                        <td><a href=""> 1</a></td>
                        <td><a href="">admin@netcopy.ir</a></td>
                        <td><a href="">600,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">خرید دوره - دوره متخصص php سطح مقدماتی</a></td>
                        <td><a href=""> 22:14:48 1399/02/23</a></td>
                        <td><a href="" class="text-success">پرداخت موفق</a></td>
                        <td class="i__oprations">
                            <a href="" class="item-delete margin-left-10" title="حذف"></a>
                            <a href="edit-transaction.html" class="item-edit" title='ویرایش'></a>
                        </td>
                    </tr>
                    <tr role="row">
                        <td><a href=""> 1</a></td>
                        <td><a href="">admin@netcopy.ir</a></td>
                        <td><a href="">600,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">400,000</a></td>
                        <td><a href="">خرید دوره - دوره متخصص php سطح مقدماتی</a></td>
                        <td><a href=""> 22:14:48 1399/02/23</a></td>
                        <td><a href="" class="text-error">پرداخت ناموفق</a></td>
                        <td class="i__oprations">
                            <a href="" class="item-delete margin-left-10" title="حذف"></a>
                            <a href="edit-transaction.html" class="item-edit" title='ویرایش'></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script type="text/javascript">
    let chart_products = document.getElementById("chart_products").getContext("2d");
    let chart_customers = document.getElementById("chart_customers").getContext("2d");
    let chart_sell = document.getElementById("chart_sell").getContext("2d");

    
let chart = new Chart(chart_products, {
  type: "bar",
  data: {
     labels: ["کل محصولات ", "محصولات موجود ", 'مصحولات ناموجود'],
     datasets: [
        {
          label: "تعداد ",
          
          data: [15,12,14]
        }
     ]
  },
  options: {
     title: {
        text: "گزارش مصحولات",
        display: true
     }
  }
});


let chart_customer = new Chart(chart_customers, {
  type: "pie",
  data: {
     labels: ["کل مشتریان  ", "مشتریان تسویه شده ", 'مشتریان تسویه نشده '],
     datasets: [
        {
          label: "تعداد ",
        
          data: [15,12,14]
        }
     ]
  },
  options: {
     title: {
        text: "گزارش مصحولات",
        display: true
     }
  }
});

let chart_s = new Chart(chart_sell, {
  type: "line",
  data: {
     labels: ["فروردین ", "اردیبهشت ", 'خرداد ','تیر ','مرداد ','شهریور ','مهر ','آبان ','آذر','دی ','بهمن ','اسفند'],
     datasets: [
        {
          label: "تعداد ",
        
          data: [15,12,14,20,25,10,30,28,20,34,12,30]
        }
     ]
  },
  options: {
     title: {
        text: "گزارش مصحولات",
        display: true
     }
  }
});



</script>
{% endblock %}