{% load static %}
{% if request.user.is_authenticated %}
<div class="sidebar__nav border-top border-left  ">
    <span class="bars d-none padding-0-18"></span>
    <a class="header__logo  d-none" href="https://netcopy.ir"></a>
    <div class="profile__info border cursor-pointer text-center">
        <div class="avatar__img"><img src="{% static 'img/pro.jpg' %}" class="avatar___img">
            <input type="file" accept="image/*" class="hidden avatar-img__input">
            <div class="v-dialog__container" style="display: block;"></div>
            <div class="box__camera default__avatar"></div>
        </div>
        <span class="profile__name">{{request.user.name_shop}}</span>
    </div>

    <ul>
      {% if request.resolver_match.url_name == 'dashboard' %}
      <li class="item-li i-dashboard is-active"><a style="text-decoration: none;" style="text-decoration: none;color: #2B4A83;"  href="{% url 'accounts:dashboard' %}">پیشخوان</a></li>

      {% else %}

      <li class="item-li i-dashboard "><a style="text-decoration: none;" style="text-decoration: none;color: black;"  href="{% url 'accounts:dashboard' %}">پیشخوان</a></li>
      {% endif %}

      {% if request.resolver_match.url_name == 'new_shop' %}
      <li class="item-li i-my__peyments is-active"><a style="text-decoration: none;color: black;"  href="{% url 'shopping:new_shop' %}">خرید محصولات</a></li>

      {% else %}

      <li class="item-li i-my__peyments"><a style="text-decoration: none;color: black;"  href="{% url 'shopping:new_shop' %}">خرید محصولات</a></li>
      {% endif %}

      {% if request.resolver_match.url_name == 'new_sale' %}
      <li class="item-li i-my__peyments is-active"><a style="text-decoration: none;color: black;"  href="{% url 'sale:new_sale' %}">فروش محصولات</a></li>

      {% else %}

      <li class="item-li i-my__peyments"><a style="text-decoration: none;color: black;"  href="{% url 'sale:new_sale' %}">فروش محصولات</a></li>
      {% endif %}
      




        {% if request.resolver_match.url_name == 'list_p' or request.resolver_match.url_name == 'detail_p' %}
        <li class="item-li i-courses is-active"><a style="text-decoration: none;color: #2B4A83;"  href="{% url 'product:list_p' %}"> محصولات  </a></li>
  
        {% else %}
  
        <li class="item-li i-courses"><a style="text-decoration: none;color: black;"  href="{% url 'product:list_p' %}"> محصولات  </a></li>
        {% endif %}

        {% if request.resolver_match.url_name == 'list_customer' or request.resolver_match.url_name == 'detail_customer' %}
        <li class="item-li i-users is-active"><a style="text-decoration: none;color: black;"  href="{% url 'customer:list_customer' %}"> مشتریان   </a></li>
  
        {% else %}
  
        <li class="item-li i-users"><a style="text-decoration: none;color: black;"  href="{% url 'customer:list_customer' %}"> مشتریان   </a></li>
        {% endif %}

        {% if request.resolver_match.url_name == 'list_p_c' %}
        <li class="item-li i-categories is-active"><a style="text-decoration: none;color: black;"  href="{% url 'product:list_p_c' %}">دسته بندی ها</a></li>
  
        {% else %}
  
        <li class="item-li i-categories"><a style="text-decoration: none;color: black;"  href="{% url 'product:list_p_c' %}">دسته بندی ها</a></li>
        {% endif %}

        {% if request.resolver_match.url_name == 'list_shop' or request.resolver_match.url_name == 'detail_shop' %}
        <li class="item-li i-checkout__request is-active"><a style="text-decoration: none;color: black;"  href="{% url 'shopping:list_shop' %}">خرید های من </a></li>
  
        {% else %}
  
        <li class="item-li i-checkout__request "><a style="text-decoration: none;color: black;"  href="{% url 'shopping:list_shop' %}">خرید های من  </a></li>
        {% endif %}


        {% if request.resolver_match.url_name == 'list_sale' or request.resolver_match.url_name == 'detail_sale' %}
        <li class="item-li i-banners is-active"><a  style="text-decoration: none;color: black;" href="{% url 'sale:list_sale' %}">فروش های من </a></li>
  
        {% else %}
  
        <li class="item-li i-banners"><a  style="text-decoration: none;color: black;" href="{% url 'sale:list_sale' %}">فروش های من </a></li>
        {% endif %}


       


          {% if request.resolver_match.url_name == 'tickets'  %}
          <li class="item-li i-tickets is-active"><a  style="text-decoration: none;color: black;" href="{% url 'accounts:tickets' %}"> تیکت ها</a></li>
    
          {% else %}
    
          <li class="item-li i-tickets"><a  style="text-decoration: none;color: black;" href="{% url 'accounts:tickets' %}"> تیکت ها</a></li>
            {% endif %}


            {% if request.resolver_match.url_name == 'edit-profile'  %}
            <li class="item-li i-user__inforamtion is-active"><a style="text-decoration: none;color: black;"  href="{% url 'accounts:edit-profile' %}">اطلاعات کاربری</a></li>
      
            {% else %}
      
            <li class="item-li i-user__inforamtion"><a style="text-decoration: none;color: black;"  href="{% url 'accounts:edit-profile' %}">اطلاعات کاربری</a></li>
            {% endif %}

            {% if request.resolver_match.url_name == 'edit-profile'  %}
            <li class="item-li i-articles is-active"><a style="text-decoration: none;color: black;"  href="{% url 'about:guidance-us' %}">راهنمایی نرم افزار</a></li>
      
            {% else %}
      
            <li class="item-li i-articles"><a style="text-decoration: none;color: black;"  href="{% url 'about:guidance-us' %}">راهنمایی نرم افزار</a></li>
            {% endif %}

        <!-- <li class="item-li i-checkouts"><a style="text-decoration: none;color: black;"  href="checkouts.html">تسویه حساب ها</a></li> -->
        <!-- <li class="item-li i-my__peyments"><a style="text-decoration: none;color: black;"  href="mypeyments.html">پرداخت های من</a></li>
        <li class="item-li i-ads"><a style="text-decoration: none;color: black;"  href="ads.html">تبلیغات</a></li>
        <li class="item-li i-comments"><a style="text-decoration: none;color: black;"  href="comments.html"> نظرات</a></li> -->
        </li>
    </ul>

</div>


<div class="modal fade" id="logout">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modal-login">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px;">فرم تاییده خروج از فروشگاه </h5>
            <button
            type="button"
            style="background-color: red;margin: 0 auto;"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            <p style="padding: 20px 10px;">
                آیا مایل به خروج از حساب هستید ؟
            </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  بازگشت 
                </button>
                <a  href="{% url 'accounts:logout' %}" class="btn btn-danger">خروج  </a>
              </div>
        </div>
        
      </div>
    </div>
  </div>

  
{% else %}


{% endif %}