{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
لیست فروش های  من 
{% endblock %}

{% block content %}
<div class="content">
    <div class="header d-flex item-center bg-white width-100 border-bottom ">
        <div class="header__right d-flex flex-grow-1 item-center">
            <span class="bars"></span>
                <img style="margin-right: 5px;" width="100" height="45" src="{% static 'img/logo3.png' %}"/>
                /
                        <a style="text-decoration: none;" href="{% url 'home:index' %}" title="پیشخوان">پیشخوان</a>/
                        <a style="text-decoration: none;" href="{% url 'sale:list_sale' %}" title="پیشخوان">لیست فروش  های من  </a>
        </div>
        <div class="header__left d-flex flex-end item-center margin-top-2">
            <div class="notification" style="margin-left: 8px;">
                <div class="dropdown__notification">
                    <div class="content__notification">
                        <span class="font-size-13">موردی برای نمایش وجود ندارد</span>
                    </div>
                </div>
            </div>
            <a
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#logout"
            data-bs-whatever="@mdo">
                <img width="35" height="35" src="{% static 'img/logout2.png' %}"/>
        </a>
        </div>
    </div>

<div class="main-content" style="background-color: #dcdcdc">
    <div class="tab__box" style="display: flex; justify-content: space-between;padding: 0px 10px;">
        <div class="tab__items">
          
            
          
            <p class="d-inline-block font-size-13" style="color: gray;">
              {{invoicesale.count}} عدد فاکتور برای شما یافت شد 
           </p>
        </div>
        <div class="tab__items">
            <a class="btn-tosi text-white text-decoration-none" href="{% url 'sale:new_sale' %}"
            
           >ایجاد فاکتور جدید </a>


            
        </div>

    </div>
    <div class="bg-white padding-20">
        <div class="t-header-search">
            <form method="get" >
                <div class="t-header-searchbox font-size-13">
                    <div type="text" class="text search-input__box ">جستجوی فاکتور ها  </div>
                    <div class="t-header-search-content  ">
                      <label> اسم مشتری  :</label>
                      {% if search_c %}

                        <input type="text" required  class=" text search_c" value="{{search_c}}" name="search_c"  placeholder="نام مشتری">
                        {% else %}
                        <input type="text" required  class=" text search_c"  name="search_c"  placeholder="نام مشتری">

                        {% endif %}
                        <button type="submit" class="btn btn-netcopy_net">جستجو</button>
                      </div>
                     {% if search_c %}
                     <p class="d-inline-block font-size-13" style="color: gray;">
                      جستجوی : {{search_c}}
                      /
                      <a class="text-danger" href="{% url 'sale:list_sale' %}">لفو جستجو </a>

                    </p>
                     {% else %}

                     {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% if invoicesale %}


    <div class="table__box">
      <table class="table">

          <thead role="rowgroup">
          <tr role="row" class="title-row ">
              <th>شناسه</th>
              <th>نام مشتری </th>
              <th>قیمت کل محصولات </th>
              <th>تخفیف</th>
              <th >قیمت نهایی </th>
              <th>تعداد محصولات </th>
              <th>تاریخ فروش  </th>
              
              <th>عملیات</th>
          </tr>
          </thead>
          <tbody>
         {% for item in invoicesale %}

         <tr role="row" >
          
          <td><a href="{% url 'sale:detail_sale' item.id %}">{{item.id}}</a></td>
          <td><a  href="{% url 'sale:detail_sale' item.id %}" style="color: black;text-decoration: none;">{{item.customer.fullname}}</a></td>
          <td><a style="color: black;text-decoration: none;">{{item.price_nahayi|intcomma:0}}تومان </a></td>
          <td><a  style="color: black;text-decoration: none;">{{item.off}}%</a></td>
          <td><a style="color: black;text-decoration: none;">{{item.last_price|intcomma:0}}تومان </a></td>
          <td><a >{{item.product.count}}   عدد محصول </a></td>
          
          <td><a >{{item.created_date}} </a></td>
          
          <td>
             
              <a style="text-decoration: none;"   class="item-eye " title="مشاهده"></a>
              <a style="text-decoration: none;"  class="item-edit " title="ویرایش"></a>
              <a style="text-decoration: none;"  class="item-delete" title="حذف"></a>

          </td>
      </tr>
      
         {% endfor %}
          

          </tbody>
      </table>
  </div>
    {% else %}
    <div class="tab__box" style="display: flex;justify-content: center; align-items: center;background-color: red;padding: 20px 0px;color: white;">
      هیچ فاکتوری  یافت نشد 
    </div>


    {% endif %}
</div>
</div>

{% endblock %}